.footer {
    background-color: #181818;
    padding: 75px 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #616161;
}

.footer-left {
    max-width: 600px;
}

.footer-left p {
    font-size: 14px;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.7);
}

.footer-left img {
    width: 250px;
    margin-bottom: 25px;
}

.footer-right {
    display: flex;
    gap: 50px;
    padding-left: 50px;
}

.footer-right a img {
    width: 50px;
    height: 50px;
    filter: brightness(0.8);
    transition: filter 0.3s ease;
}

.footer-right a img:hover {
    filter: brightness(1);
}

@media (max-width: 1300px) {
    .footer {
        padding: 75px 50px;
    }
}

@media (max-width: 775px) {
    .footer {
        padding: 50px 25px;
        flex-direction: column;
    }

    .footer-left {
        text-align: center;
        margin-bottom: 50px;
    }

    .footer-right {
        padding-left: 0px;
    }
}