{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles/global.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <div class="container">
        <div class="top"></div>
        <div class="content">
            <div class="box">
                <p>a</p>
            </div>
            <div class="box">
                <p>b</p>
            </div>
            <div class="box">
                <p>c</p>
            </div>
        </div>
    </div>
</body>
</html>