{% load static %}

<header class="header">
    <div class="header-logo">
        <img src="{% static 'assets/icons/logo.svg' %}">
    </div>

    <nav class="header-nav">
        <a href="">Product</a>
        <a href="">Plans and Pricing</a>
        <a href="">About us</a>
    </nav>

    <div class="header-buttons">
        <a href="{% url 'login' %}">Login</a>
        <form action="{% url 'signup' %}">
            <button class="btn signup">Sign Up</button>
        </form>
    </div>
</header>